* {
  background-color: #04294b;
  color: white;
}
#center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div{
  height: 100px;
  width: 300px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 300px, 300px, 500px, 500px green;
}
.text{
  font-size: large;
  color: rgb(217, 214, 43);
  font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
  font-weight: 500;
  font-style: oblique;
}
.shape {
  border-radius: 50;
}
.imag{height: 250px;
  width: 200px;
}
